<h1 class="mb-5 mt-3"><%= @vacancy["title"] %></h1>

<div class="d-flex flex-row">
  <div class="col-md-4 me-4", style="width: 350px;">
    <div class="d-flex align-items-center overflow-hidden mb-3 rounded", style="width: 350px; height: 250px;">
      <%= image_tag @vacancy["images"][0], class: "img-fluid rounded-start", alt: "" %>
    </div>
    <% if current_user && current_user.candidacy_already_made?(@vacancy["id"]) %>
      <div class="text-center">
        <span class="btn btn-success">Candidatura já feita</span>
      </div>
    <% else %>
      <div class="text-center">
        <form action="/candidacies" method="post">
          <input type="hidden" name="vacancy_id" value=<%= @vacancy["id"]%> >
          <button type="submit" class="btn btn-primary">Me canditatar</button>
        </form>
      </div>
    <% end %>
  </div>

  <div class="card col-md-8 p-4">
    <strong>Descriço da vaga</strong>
    <%= @vacancy["description"] %><br><br>

    <strong>Remuneração</strong>
    <%= @vacancy["value"] %>/<%= @vacancy["value_period"] %><br><br>

    <strong>Local de trabalho</strong>
    <%= @vacancy["clinic"]["name"] %><br>
    <%= @vacancy["clinic"]["city"] %>/<%= @vacancy["clinic"]["state"] %>

  </div>
</div>