<div class="text-center mb-3">
  <h2>Esqueceu sua senha?</h2>
</div>

<%= simple_form_for(resource,
                    as: resource_name,
                    url: password_path(resource_name),
                    html: { method: :post, class: "px-5 mx-5" }
                    ) do |f| %>
  <%= f.error_notification %>

  <div class="mb-3">
    <%= f.input :email,
                label: "Email",
                required: false,
                autofocus: true,
                label_html: { class: 'form-label' },
                input_html: { autocomplete: "email", class: 'form-control form-control-sm' } %>
  </div>

  <div class="text-center mb-3">
    <%= f.button :submit,
    "Envie-me instruções de redefinição de senha",
    class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="text-center mt-5">
  <%= render "devise/shared/links" %>
<div>