<div class="text-center mb-3 mt-5">
  <h2>Login</h2>
</div>

<%= simple_form_for(resource,
                    as: resource_name,
                    url: session_path(resource_name),
                    html: { class: "px-5 mx-5" }
                    ) do |f| %>

  <div class="mb-3">
  <%= f.input :email,
                label: "Email",
                required: false,
                autofocus: true,
                label_html: { class: 'form-label' },
                input_html: { autocomplete: "email", class: 'form-control form-control-sm' } %>
  </div>

  <div class="mb-3">
    <%= f.input :password,
                label: "Senha",
                required: false,
                label_html: { class: 'form-label' },
                input_html: { autocomplete: "current-password", class: 'form-control form-control-sm' } %>
    </div>

  <div class="form-check mb-3">
    <%= f.input :remember_me,
                input_html: { class: 'form-check-input' },
                label_html: { class: 'form-check-label' },
                as: :boolean if devise_mapping.rememberable? %>
  </div>

   <div class="text-center mb-3">
    <%= f.button :submit, "Login", class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="text-center mt-5">
  <%= render "devise/shared/links" %>
</div>
